body{
    background-color: deepskyblue; 
}
.menu{
    text-align: center;
    padding: 150px;
}
.menu li{
    display:inline;
    background-color: bisque; 
    padding: 10px 30px;
    border:5px solid yellow;
}
.menu li a{
    color:firebrick;
    text-decoration:none;
}
.menu li:hover{
     background:pink;
    padding:20px 40px;
}
.menu li:hover a{
    font-family: fantasy;
    font-size:25px;
}
.menu li:active{
    background:white;
}
.menu li:active a{
    color: black;
}